.articlesCategories {
  margin: 3rem auto;
}

.articlesCategoriesTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.articlesCategoriesUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articlesCategoriesLi {
  margin: 0.3rem;
  width: 30%;
}

.tagsIcon {
  font-size: 1rem;
  margin-right: 0.5rem;
  float: left;
  color: var(--gray-1);
}

.articlesCategoriesLink {
  display: inline-block;
  border-bottom: 1px dashed var(--gray-1);
  border-radius: 5px;
  font-size: 0.7rem;
  text-align: left;
  padding: 0.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .articlesCategories {
    /* width: 70%; */
  }

  .articlesCategoriesLi {
    width: 20%;
  }

  .tagsIcon {
    font-size: 1.2rem;
  }

  .articlesCategoriesLink {
    font-size: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
  }
}
