.flexContainer {
  display: flex;
  justify-content: space-between;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media (min-width: 768px) {
  .flexContainer {
    margin: 3rem;
  }
}
