.flexContainer {
  display: flex;
  justify-content: space-between;
  margin: var(--space-sm);
}

.iconText {
  font-size: calc(var(--body) * 0.8);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.prev {
  margin-right: var(--space-xxs);
}

.next {
  margin-left: var(--space-xxs);
}

@media (min-width: 768px) {
  .flexContainer {
    margin: var(--space-lg);
  }

  .iconText {
    font-size: var(--body);
  }

  .iconText:hover {
    color: var(--blue);
  }
}
