.contact figure {
  padding: 1rem;
}

.form {
  width: 80%;
  margin: var(--space-md) auto;
}
.form ul > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form label .icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.form label {
  padding: var(--space-xxs) var(--space-xxs) var(--space-xxs) 0;
  display: inline-block;
  font-weight: bold;
}
.form label span {
  font-weight: normal;
  font-size: calc(var(--space-xxs) * 0.8);
  color: red;
  margin-left: calc(var(--space-xxs) * 0.8);
}
.form input[type='text'],
.form input[type='email'] {
  padding: var(--space-xxs);
}

.form textarea {
  vertical-align: middle;
  padding: var(--space-xxs);
  height: 15rem;
}

.form input[type='text'],
.form input[type='email'],
.form textarea {
  font-size: calc(var(--body) * 1.2);
  border: 1px solid var(--gray-1);
}

.button {
  display: block;
  font-size: calc(var(--body) * 1.2);
  padding: var(--space-xxs) var(--space-lg);
  margin: var(--space-lg) auto;
}

@media (min-width: 768px) {
  .form {
    width: 90%;
    margin-top: var(--space-lg);
  }

  .form ul > * {
    flex-direction: row;
    justify-content: space-between;
  }

  .form label {
    width: 40%;
  }

  .form input[type='text'],
  .form input[type='email'],
  .form textarea {
    width: 60%;
    margin: 0 auto;
  }

  .button:hover {
    color: var(--blue);
    cursor: pointer;
  }
}
