.pageTitle {
  text-align: center;
  margin: var(--space-2);
}

.sectionTitle {
  font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-2);
}

.preview {
  text-align: center;
  padding: var(--space-1) 0 3rem;
}

.preview img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.preview p {
  font-size: 1.25rem;
}

.formSection {
  padding: var(--space-4) var(--space-4) var(--space-1);
  background-color: var(--white);
}

.formGroup {
  display: flex;
  flex-direction: column;
  padding: 0.5rem var(--space-1);
  margin-bottom: 0.85rem;
}

.formGroup label {
  margin-bottom: 0.25rem;
}

.formGroup input {
  font-size: var(--body);
  padding: 0.75rem 0.5rem;
}

.inputText {
  border: 1px solid var(--gray-2);
  border-radius: 5px;
  background-color: #f5f9fc;
}

.updateButton {
  display: block;
  color: var(--blue-3);
  font-size: var(--body);
  background-color: var(--white);
  border: 1px solid var(--blue-3);
  border-radius: 10px;
  padding: 0.75rem var(--space-1);
  margin: var(--space-1) auto;
  transition: 0.3s;
}

.deleteSection {
  background-color: var(--white);
  padding: var(--space-2) var(--space-4) 4rem;
}

.deleteSection p {
  margin-bottom: var(--space-1);
}

.deleteButton {
  display: inline-block;
  color: #b30516;
  border: 1px solid #b30516;
  background-color: var(--white);
  border-radius: 5px;
  padding: 0.5rem var(--space-1);
  transition: 0.3s;
}

@media (min-width: 1024px) {
  .formSection {
    padding: var(--space-4) calc(var(--space-6) * 3) var(--space-2);
  }

  .updateButton:hover {
    color: var(--white);
    background-color: var(--blue-3);
    border: 1px solid var(--white);
    transform: scale(1.1);
  }

  .deleteSection {
    padding: var(--space-2) calc(var(--space-6) * 3) var(--space-6);
  }

  .deleteButton:hover {
    color: var(--white);
    background-color: #b30516;
    border: 1px solid var(--white);
    transform: scale(1.1);
  }
}
