.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-bg);
  padding: var(--space-4) var(--space-2);
}

.footer > h1 {
  color: var(--white);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-4);
  }
}

@media (min-width: 1025px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-4);
  }
}
