.container {
  position: relative;
  margin: var(--space-1) 0 var(--space-2);
  padding: 0;

  .copyButton {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background: var(--inline-code-bg-color);
    color: var(--text-color);
    cursor: pointer;
    backdrop-filter: blur(6px);

    &:hover {
      background: var(--inline-code-border-color);
    }

    .copyIcon {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  .pre {
    margin: 0;
  }

  .code {
    display: block;
  }
}
