.loginButton {
  color: var(--white);
  padding: calc(var(--space-1) * 0.5);
  background-color: var(--blue-1);
  border: 1px solid var(--blue-1);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.googleButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--space-1) auto;
  padding: calc(var(--space-1) * 0.5) var(--space-1);
  font-weight: bold;
  background-color: var(--white);
  border: 1px solid var(--gray-3);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.googleButton:hover {
  background: var(--gray-3);
  transform: scale(1.05);
}

.closeButton {
  position: absolute;
  color: var(--gray);
  font-size: 1.5rem;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.closeButton:hover {
  color: var(--black);
  background-color: var(--gray-3);
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popupContent {
  position: relative;
  background: var(--white);
  padding: var(--space-3) var(--space-1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 70vw;
}

.popupContent h3 {
  margin-bottom: calc(var(--space-1) * 0.5);
}

.googleButton img {
  width: var(--body);
  height: var(--body);
  margin-right: 0.5rem;
}

.errorMessage {
  color: red;
  margin-bottom: 0.5rem;
  font-size: calc(var(--body) * 0.75);
  text-align: center;
}

@media (min-width: 768px) {
  .loginButton {
    font-size: var(--body);
  }

  .loginButton:hover {
    color: var(--blue-1);
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .popupContent {
    width: 50vw;
  }
}
