.flexContainer {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  padding: var(--space-1);
}

.flexContainer > h3 {
  font-size: var(--h3);
  color: var(--blue);
  text-align: center;
  margin-bottom: var(--space-1);
}

.flexContainer > ul {
  margin: var(--space-2) var(--space-2) 0;
}

.flexContainer > li {
  display: block;
  text-align: center;
}

.categoriesLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.5;
  font-size: var(--body);
  border-bottom: 1px dashed var(--gray-1);
  padding: calc(var(--space-1) * 0.5);
  margin-bottom: var(--space-1);
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.5rem;
}

@media (min-width: 768px) {
  .flexContainer > ul {
    margin: calc(var(--space-1) * 0.5) calc(var(--space-1) * 0.5) 0;
  }

  .categoriesLink {
    font-size: 0.9rem;
  }

  .categoriesLink:hover {
    color: var(--blue);
  }
}
