.stack {
  width: 80%;
  margin: var(--space-lg) auto;
}
.stack ul > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.stack label {
  padding: var(--space-xxs);
  display: inline-block;
  font-weight: bold;
}
.stack label > * {
  font-weight: normal;
  font-size: calc(var(--space-xxs) * 0.8);
  color: red;
  margin-left: calc(var(--space-xxs) * 0.8);
}
.stack input[type='text'],
.stack input[type='email'] {
  padding: var(--space-xxs);
}

.stack textarea {
  vertical-align: middle;
  padding: var(--space-xxs);
  height: 15rem;
}

.stack input[type='text'],
.stack input[type='email'],
.stack textarea {
  font-size: calc(var(--body) * 1.2);
  border: 1px solid #ccc;
}

.stack label::before,
.stack textarea::before {
  display: inline-block;
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
  margin: -2px 10px 0 0;
  border-radius: 50%;
}

.stack button {
  display: block;
  font-size: calc(var(--body) * 1.2);
  padding: var(--space-xxs) var(--space-lg);
  margin: var(--space-lg) auto;
}

@media (min-width: 768px) {
  .stack {
    width: 90%;
  }

  .stack ul > * {
    flex-direction: row;
    justify-content: space-between;
  }

  .stack label {
    width: 40%;
  }

  .stack input[type='text'],
  .stack input[type='email'],
  .stack textarea {
    width: 60%;
    margin: 0 auto;
  }

  .stack button:hover {
    color: var(--blue);
    cursor: pointer;
  }
}
