.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: var(--space-1);
  margin: 0 auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

<<<<<<< HEAD
.flex {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(var(--space-1) * 0.5);
  border-bottom: 1px solid var(--gray-1);
}

@media (min-width: 768px) and (max-width: 1024px) {
=======
@media (min-width: 768px) {
>>>>>>> 75bd82b (remove: 認証機能の削除)
  .header {
    padding: 0 var(--space-3) var(--space-1);
  }

  .flex {
    padding-bottom: 0;
  }

  .nav {
    margin-left: auto;
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 0 var(--space-3) var(--space-1);
  }

  .nav {
    margin-left: auto;
  }
}
