.header {
  padding: var(--space-1) var(--space-1) calc(var(--space-1) * 0.5);
  background-color: var(--white);
}

.header h1 {
  color: var(--blue-4);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: var(--space-1) var(--space-2) calc(var(--space-1) * 0.5);
  }
}

@media (min-width: 1025px) {
  .header {
    padding: var(--space-2) var(--space-3) calc(var(--space-1) * 0.5);
  }
}
