.flexContainer {
  margin: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.main {
  padding: 1.5rem;
  background-color: var(--white);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.sidebar {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .flexContainer {
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .main {
    width: 768px;
  }

  .sidebar {
    margin: 0;
    width: 340px;
    position: sticky;
    top: 40px;
    align-self: flex-start;
  }
}
