.flexContainer {
  gap: 5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main {
    width: 768px;
  }

  .sidebar {
    width: 240px;
    position: sticky;
    top: 40px;
    align-self: flex-start;
  }

  .sidebar * {
    text-align: right;
  }

  .sidebar :is(div, ul) {
    width: fit-content;
    margin-left: auto;
    place-content: flex-end;
    place-items: flex-end;
  }
}
