.flexContainer {
  gap: 5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .flexContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .main {
    width: 768px;
  }

  .sidebar {
    margin: 0;
    width: 240px;
    position: sticky;
    top: 40px;
    align-self: flex-start;
  }
}
