.flexContainer {
  display: flex;
  flex-direction: column;
}

.sidebar {
  order: 1;
  margin-bottom: var(--space-1);
}

.main {
  order: 3;
}

.socialActions {
  order: 2;
  margin: var(--space-1) 0;
}

@media (min-width: 1025px) {
  .flexContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar,
  .socialActions {
    margin: 0;
    position: sticky;
    top: 20px;
    align-self: flex-start;
  }

  .socialActions {
    order: 1;
    width: 5%;
  }

  .main {
    order: 2;
    width: 71%;
  }

  .sidebar {
    order: 3;
    width: 20%;
  }
}
