.heroContainer {
  margin: var(--space-sm) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.text {
  text-align: center;
  padding: var(--space-xs);
}

.text > h1 {
  margin-bottom: calc(var(--space-xs) * 0.5);
}

.text > p {
  font-size: var(--small-heading3);
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .heroContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .heroContainerCenter {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text {
    width: 50%;
  }

  .image {
    width: 50%;
  }
}
