.heroContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.text {
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .heroContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .heroContainerCenter {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text {
    width: 50%;
  }

  .title {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .image {
    width: 50%;
  }
}
