.pagination {
  display: block;
  margin: var(--space-3) var(--space-1) var(--space-5);
}

.prev,
.next {
  margin-bottom: var(--space-1);
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.link {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--body) * 0.9);
  padding: var(--space-1);
  width: 100%;
}

.link:active {
  color: var(--blue-active);
}

.meta {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--gray-4);
}

.metaPrev {
  justify-content: flex-start;
}

.metaNext {
  justify-content: flex-end;
}

.icon,
.label {
  font-size: calc(var(--body) * 0.7);
}

.metaPrev > .label {
  margin-left: 0.25rem;
}

.metaNext > .label {
  margin-right: 0.25rem;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prev .title {
  margin-left: 0.7rem;
  text-align: left;
}

.next .title {
  margin-right: 0.7rem;
  text-align: right;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pagination {
    margin: var(--space-5) var(--space-2);
  }

  .prev,
  .next {
    margin-bottom: var(--space-2);
  }

  .link {
    padding: var(--space-1) var(--space-2);
    font-size: var(--body);
  }

  .icon,
  .label {
    font-size: calc(var(--body) * 0.8);
  }

  .link:active {
    color: var(--blue-active);
  }
}

@media (min-width: 1025px) {
  .pagination {
    display: flex;
    justify-content: space-between;
    margin: var(--space-3) 0 var(--space-5);
  }

  .prev,
  .next {
    width: 40%;
    transition: box-shadow 0.3s, transform 0.3s;
  }

  .prev:hover,
  .next:hover {
    color: var(--blue-active);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .link {
    font-size: var(--body);
  }

  .icon,
  .label {
    font-size: calc(var(--body) * 0.9);
  }
}
