.pagination {
  display: block;
  margin: var(--space-3) var(--space-1) var(--space-5);

  .prev,
  .next {
    color: var(--text-color);
    background-color: var(--bg-color-2);
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: var(--space-1);
  }

  .link {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--body) * 0.9);
    padding: var(--space-1);
    width: 100%;

    &:active {
      color: var(--blue-active);
    }

    .meta {
      display: flex;
      align-items: center;
      text-align: left;
      color: var(--sub-title-color);

      .icon,
      .label {
        font-size: calc(var(--body) * 0.7);
      }
    }

    .metaPrev {
      justify-content: flex-start;
      .label {
        margin-left: 0.25rem;
      }
    }

    .metaNext {
      justify-content: flex-end;
      .label {
        margin-right: 0.25rem;
      }
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .prev .title {
    margin-left: 0.7rem;
    text-align: left;
  }

  .next .title {
    margin-right: 0.7rem;
    text-align: right;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pagination {
    margin: var(--space-5) var(--space-2);

    .prev,
    .next {
      margin-bottom: var(--space-2);
    }

    .link {
      padding: var(--space-1) var(--space-2);
      font-size: var(--body);

      &:active {
        color: var(--blue-active);
      }

      .icon,
      .label {
        font-size: calc(var(--body) * 0.8);
      }
    }
  }
}

@media (min-width: 1025px) {
  .pagination {
    display: flex;
    justify-content: space-between;
    margin: var(--space-3) 0 var(--space-5);

    .prev,
    .next {
      width: 40%;
      transition: box-shadow 0.3s, transform 0.3s;

      &:hover {
        color: var(--blue-active);
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }

      .link {
        font-size: var(--body);

        .icon,
        .label {
          font-size: calc(var(--body) * 0.9);
        }
      }
    }
  }
}
