.userInfo {
  position: relative;
  text-align: center;
  padding: var(--space-3);
  margin-top: var(--space-2);
}

.userInfo img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.edit {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  padding: 0.25rem var(--space-1);
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.edit:hover {
  transform: scale(1.1);
}

.articleContainer {
  padding: var(--space-1) 0 var(--space-5);
  margin: 0 auto;
}

.tabContainer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-2);
}

.tabButton {
  padding: 0.85rem 2rem;
  border: 1px solid var(--gray-3);
  border-radius: 3px;
  background-color: var(--white);
  cursor: pointer;
}

.activeTab {
  color: var(--white);
  background-color: var(--blue-3);
}

.listItem {
  margin-bottom: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray-3);
  cursor: pointer;
  transition: 0.3s;
}

.listItem:hover {
  transform: scale(1.05);
}

.listItem a {
  display: block;
  padding: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .articleContainer {
    width: 85%;
  }
}

@media (min-width: 1025px) {
  .articleContainer {
    width: 80%;
  }
}
