.profileContainer {
  margin: var(--space-4) var(--space-1) var(--space-5);
}

.profileContainer figure {
  text-align: center;
  margin: var(--space-4) 0 var(--space-2);
}

.profileImage {
  display: inline-block;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  object-fit: cover;
}

.profileName {
  color: var(--blue-2);
}

.profileContainer > h3 {
  margin-bottom: var(--space-3);
  padding: calc(var(--space-1) * 0.5) 0 calc(var(--space-1) * 0.5)
    var(--space-1);
  border-bottom: 1px solid var(--gray);
  border-left: 10px solid var(--blue-2);
}

.profileContainer > h4 {
  padding: var(--space-1);
}

.profileContainer > p {
  margin: 0 var(--space-1) var(--space-2);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .profileContainer {
    margin: calc(var(--space-5) * 1.3) var(--space-1);
  }

  .profileImage {
    width: 25%;
    height: 25%;
  }
}

@media (min-width: 1025px) {
  .profileContainer {
    margin: calc(var(--space-5) * 1.3) var(--space-1);
  }

  .profileImage {
    width: 20%;
    height: 20%;
  }

  .profileName:hover {
    color: var(--blue-3);
  }
}
