.heroContainer {
  display: flex;
  align-items: center;
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroText {
  width: 90%;
  text-align: left;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
  padding: var(--space-xs);
  margin: 0 auto;
}

.heroContainer > h1 {
  margin-bottom: calc(var(--space-xs) * 0.5);
}

.heroText > p {
  font-size: var(--body);
  margin-top: 0.5rem;
}

.heroContact {
  display: inline-block;
  font-size: var(--body);
  font-weight: bold;
  background-color: var(--blue-1);
  padding: 0.5rem var(--space-xxs);
  margin-top: var(--space-xs);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .heroContainer {
    justify-content: space-between;
    height: 70vh;
  }

  .heroText {
    width: 50%;
    padding: var(--space-sm);
    margin-left: var(--space-sm);
  }

  .heroContact {
    padding: var(--space-xxs) var(--space-xs);
  }

  .heroContact:hover {
    background-color: var(--blue);
    color: var(--white);
    transform: scale(1.05);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heroContainer {
    height: 50vh;
  }

  .heroText {
    width: 70%;
  }
}

@media (min-width: 1025px) {
  .heroContainer {
    height: 60vh;
  }

  .heroText {
    width: 50%;
  }
}
