.stack {
  margin-bottom: var(--space-xs);
  padding: var(--space-xs);
  background-color: var(--white);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.stack h2 + p,
.stack h3 + p,
.stack h4 + p .stack h5 + p {
  margin-top: 0.75rem;
}

.stack p:not(h2 + p):not(h3 + p):not(h4 + p)p:not(h5 + p) {
  margin: var(--space-xxs) 0;
}

.stack h2 {
  margin-top: var(--space-md);
  padding: var(--space-xxs);
  background: #eeeeee;
  border-left: solid 8px var(--blue);
}

.stack h3 {
  margin-top: var(--space-sm);
  padding: 0.8rem;
  border-left: 5px solid var(--blue);
  border-bottom: 1px solid var(--gray-1);
}

.stack h4 {
  margin: var(--space-xxs) 0 0.5rem;
  padding-top: var(--space-xxs);
}

.stack h5 {
  margin: var(--space-xxs) 0 0.5rem;
  padding-top: var(--space-xxs);
}

.stack figure img {
  margin: 1rem 0 3rem;
}

.stack p {
  line-height: 2;
}

.stack a {
  color: var(--blue);
}

.stack a:hover {
  color: var(--blue-1);
}

.stack strong {
  font-weight: 600;
}

.stack code {
  margin-bottom: var(--space-xs);
  padding: 0.25rem;
  font-family: 'Fira Code', monospace;
  border-radius: 4px;
  overflow-x: auto;
}

.stack code * {
  line-height: 1.7;
  font-style: normal;
  font-weight: normal;
}

.stack ol,
.stack ul {
  margin: 0.75rem 0 var(--space-xxs);
  padding-left: 0.85rem;
  list-style: revert;
}

.stack li {
  line-height: 2;
  margin-bottom: 0.5rem;
}

.stack li > p {
  font-weight: normal;
}

.stack hr {
  color: var(--gray-2);
  border: 1px solid;
  margin: 0.25rem 0 0;
}

.stack > table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
  margin: 1.5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stack > table th,
.stack > table td {
  border: 1px solid var(--gray-2);
  padding: 0.85rem var(--space-xxs);
}

.stack > table th {
  background-color: #f4f4f4;
  border-bottom: 2px solid var(--gray-2);
}

.stack > table td {
  border-bottom: 1px solid var(--gray-2);
}

/* 引用のレイアウト */
.stack > blockquote {
  position: relative;
  padding: var(--space-xxs) var(--space-xxs) var(--space-xxs)
    calc(var(--space-xs) * 1.2);
  margin: var(--space-xs);
  box-sizing: border-box;
  background: #f3f3f3;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.stack > blockquote:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -15px;
  width: 40px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  content: '\f10d';
  font-family: FontAwesome;
  color: var(--white);
  font-size: 18px;
  background: var(--blue);
  box-shadow: 0 2px 2px rgba(26, 26, 26, 0.14);
  font-weight: 900;
}

.stack > blockquote:after {
  position: absolute;
  content: '';
  top: 40px;
  left: -15px;
  border: none;
  border-bottom: solid 8px transparent;
  border-right: solid 15px var(--blue-2);
}

.stack > blockquote p {
  position: relative;
  padding: 0;
  margin: 0.3rem 0;
  z-index: 3;
}
