.slugCategories {
  width: 100%;
}

.slugCategoriesTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.slugCategoriesUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: left;
}

.tagsIcon {
  font-size: 1rem;
  margin-right: 0.5rem;
  float: left;
  color: var(--gray-ccc);
}

.slugCategoriesLi {
  margin: 0.3rem;
  width: 40%;
}

.slugCategoriesLink {
  width: 100%;
  display: inline-block;
  font-size: 0.7rem;
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px dashed var(--gray-ccc);
}

@media (min-width: 768px) {
  .slugCategoriesUl {
    display: block;
  }

  .slugCategoriesLi {
    margin: 0.5rem 0;
    width: 100%;
  }
}
