.figure {
  padding: 1rem;
}

.profile {
  margin: var(--space-md) var(--space-xs);
}

.profile > h3 {
  margin-bottom: var(--space-sm);
  padding: calc(var(--space-xxs) * 0.5) 0 calc(var(--space-xxs) * 0.5)
    var(--space-xxs);
  border-bottom: 1px solid var(--gray);
  border-left: 10px solid var(--blue);
}

.profile > h4 {
  margin: 1rem;
}

.profile > p {
  margin: 0 var(--space-xs) var(--space-md);
}
