.headerLink {
  width: 60%;
}

.linkImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.footerLink {
  width: 100%;
}

/* デスクトップサイズ */
@media (min-width: 768px) {
  .headerLink {
    width: 32%;
  }

  .footerLink {
    width: 50%;
  }
}
