.postHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-1);
  margin: var(--space-2) 0;
}

.postHeaderIcon {
  margin: 0 0 var(--space-3);
  width: 5rem;
  height: 5rem;
}

.postHeaderTitle > h1 {
  margin-bottom: var(--space-1);
}

.icon {
  padding-top: 0.15rem;
  color: var(--sub-title-color);
}

.publish {
  display: flex;
  gap: 0.5rem;
  color: var(--sub-title-color);
  font-size: var(--body);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .postHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-1);
    margin: var(--space-2) 0 var(--space-3);
  }
}

@media (min-width: 1025px) {
  .postHeader {
    flex-direction: row;
    text-align: left;
    margin: var(--space-4) 0;
    padding: 0;
  }

  .postHeaderIcon {
    margin-right: var(--space-2);
    height: 6rem;
    width: 6rem;
  }
}
