.postBody {
  margin-bottom: var(--space-2);
  padding: var(--space-2);
  background-color: var(--bg-color-2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.postBody h2 + p,
.postBody h3 + p,
.postBody h4 + p,
.postBody h5 + p {
  margin-top: 0.75rem;
}

.postBody p:not(h2 + p):not(h3 + p):not(h4 + p)p:not(h5 + p) {
  margin: var(--space-1) 0;
}

.postBody h2 {
  margin-top: var(--space-4);
  padding: 0.5rem var(--space-1);
  background-color: var(--h2-bg-color);
  border-left: solid 8px var(--blue-3);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.postBody h3 {
  margin-top: var(--space-3);
  padding: 0.8rem;
  border-left: 5px solid var(--blue-3);
  border-bottom: 1px solid var(--border-color);
}

.postBody h4 {
  margin: var(--space-1) 0 0.5rem;
  padding-top: var(--space-1);
}

.postBody h5 {
  margin: var(--space-1) 0 0.5rem;
}

.postBody figure img {
  margin: 1rem 0 3rem;
  border: 1px solid var(--border-color);
}

.postBody p {
  line-height: 1.8;
}

.postBody a {
  word-break: break-all;
  color: var(--blue-2);
}

.postBody a:hover {
  color: var(--blue-3);
}

.postBody a:active {
  color: var(--blue-active);
}

.postBody strong {
  font-weight: 600;
}

.postBody ol,
.postBody ul {
  margin: 0.75rem 0 var(--space-1);
  padding-left: 0.85rem;
  list-style: revert;
}

.postBody li {
  line-height: 1.7;
}

.postBody li > p {
  font-weight: normal;
}

.postBody hr {
  color: var(--border-color);
  border: 1px solid;
  margin: 0.25rem 0 0;
}

.postBody > table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
  margin: 1.5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.postBody > table th,
.postBody > table td {
  border: 1px solid var(--border-color);
  padding: 0.85rem var(--space-1);
}

.postBody > table th {
  background-color: var(--h2-bg-color);
  border-bottom: 2px solid var(--border-color);
}

.postBody > table td {
  border-bottom: 1px solid var(--border-color);
}

.postBody > blockquote {
  position: relative;
  padding: var(--space-1) var(--space-1) var(--space-1)
    calc(var(--space-2) * 1.2);
  margin: var(--space-2);
  box-sizing: border-box;
  background: #f3f3f3;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.postBody > blockquote:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -15px;
  width: 40px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  content: '\f10d';
  font-family: FontAwesome;
  color: var(--white);
  font-size: 18px;
  background: var(--blue);
  box-shadow: 0 2px 2px rgba(26, 26, 26, 0.14);
  font-weight: 900;
}

.postBody > blockquote:after {
  position: absolute;
  content: '';
  top: 40px;
  left: -15px;
  border: none;
  border-bottom: solid 8px transparent;
  border-right: solid 15px var(--blue-2);
}

.postBody > blockquote p {
  position: relative;
  padding: 0;
  margin: 0.3rem 0;
  z-index: 3;
}
