.socialList {
  display: flex;
  gap: 0.25rem;
  /* font-size: calc(var(--heading1) * 0.8); */
}

.socialList > li {
  margin: 0.5rem;
  max-width: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  .icon {
    width: 3rem;
    height: 3rem;
  }
}
