.categories {
  width: 100%;
  padding: var(--space-1);
  margin-bottom: var(--space-2);
}

.categories > h3 {
  margin: var(--space-1);
  text-align: center;
}

.categoriesListWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--body);
}

.categoryItem {
  border: 1px solid var(--gray-1);
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.categoryLink {
  padding: var(--space-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryIcon {
  width: 45%;
  height: 45%;
  margin: 0 auto;
}

.categoryName {
  text-align: center;
  margin-top: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .categoriesListWrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .categoryItem {
    margin: calc(var(--space-1) * 0.5);
    transition: box-shadow 0.3s, transform 0.3s;
  }

  .categoryItem:hover {
    color: var(--blue);
    cursor: pointer;
    border: 1px solid var(--blue);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}

@media (min-width: 1025px) {
  .categoriesListWrapper {
    grid-template-columns: repeat(6, 1fr);
  }

  .categoryItem {
    margin: calc(var(--space-1) * 0.5);
    transition: box-shadow 0.3s, transform 0.3s;
  }

  .categoryItem:hover {
    color: var(--blue);
    cursor: pointer;
    border: 1px solid var(--blue);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}
