.btnContainer {
  margin: var(--space-3) auto;
}

.showMoreButton {
  display: inline-block;
  background-color: var(--blue-2);
  padding: var(--space-1) var(--space-3);
  color: var(--white);
  transition: 0.3s;
}

.showMoreButton:active {
  background-color: var(--blue-active);
}

.aboutSection,
.articlesSection {
  text-align: center;
  margin: var(--space-5) var(--space-1) 0;
}

.aboutSection > h2,
.articlesSection > h2 {
  text-align: center;
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  margin-bottom: var(--space-1);
}

.aboutSection p,
.articlesSection p {
  text-align: center;
  margin-bottom: var(--space-2);
}

.aboutSection .profileIcon {
  display: inline-block;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  object-fit: cover;
  margin: var(--space-1) auto var(--space-3);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .text {
    width: 90%;
    margin: 0 auto;
  }

  .aboutSection .profileIcon {
    width: 25%;
    height: 25%;
  }
}

@media (min-width: 1025px) {
  .text {
    width: 85%;
    margin: 0 auto;
  }

  .aboutSection .profileIcon {
    width: 20%;
    height: 20%;
  }

  .showMoreButton:hover {
    background-color: var(--blue-3);
    color: var(--white);
    transform: scale(1.05);
  }
}
