.container {
  display: flex;
  flex-direction: column;
}

.main {
  order: 2;
}

.sidebar {
  order: 1;
}

.tocDesktop {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    order: 2;
  }

  .sidebar {
    order: 1;
  }
}

@media (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .main {
    order: 1;
    width: 70%;
  }

  .sidebar {
    position: sticky;
    top: 5rem;
    align-self: flex-start;
    order: 2;
    width: 30%;
  }

  .tocDesktop {
    display: block;
  }
}
