.stack {
  padding: 1rem;
  margin: 2rem 0;
}

.stack > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 700;
}

.icon {
  padding-top: 0.15rem;
}

.publish {
  display: flex;
  gap: 0.5rem;
  color: var(--black);
}

@media (min-width: 768px) {
}
