.stack {
  padding: 1rem;
  margin: 2rem 0;
}

.stack > * + * {
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.title {
  font-size: 1.5rem;
}

.icon {
  padding-top: 0.15rem;
}

.publish {
  display: flex;
  gap: 0.5rem;
  color: var(--gray);
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .publish {
    font-size: 1.25rem;
  }
}
