.flexContainer {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  padding: 1rem;
}

.categoriesTitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--blue);
}

.categoriesLink {
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  border-bottom: 1px dashed var(--gray-1);
  padding: 0 0.5rem 0.25rem;
  margin-bottom: 1rem;
}

.tagsIcon {
  margin: 0 0.5rem;
  color: var(--gray-1);
}

@media (min-width: 768px) {
  .categoriesLink:hover {
    color: var(--blue);
  }
}
