.toc {
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-top: 6px solid var(--blue-2);
  border-radius: 5px;
  padding: var(--space-1) var(--space-1) var(--space-1);
}

.navTitle {
  font-size: var(--h4);
  font-weight: bold;
  color: var(--black);
}

.icon {
  margin-right: 0.5rem;
}

.tocItem::before {
  position: absolute;
  top: 16px;
  left: 0.25rem;
  display: inline-block;
  content: '';
  background-color: var(--blue-2);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.tocItem {
  position: relative;
  font-size: var(--body);
  line-height: 1.7;
}

.scroll {
  width: 100%;
  display: inline-block;
  padding: 0.4rem 0 0.6rem 1.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.active {
  font-weight: 600;
  color: var(--blue-active);
  background-color: var(--blue-4);
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
  .tocItem:hover {
    color: var(--blue-active);
  }
}
