.toc {
  background-color: var(--bg-color-2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-top: 6px solid var(--blue-2);
  border-radius: 5px;
  padding: var(--space-1) var(--space-1) var(--space-1);
}

.navTitle {
  font-size: var(--h4);
  font-weight: bold;
  color: var(--text-color);
}

.icon {
  margin-right: 0.5rem;
}

.tocItem::before,
.tocItemIndent::before {
  position: absolute;
  top: 13px;
  display: inline-block;
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.tocItem::before {
  left: 0.25rem;
  background-color: var(--blue-base);
}

.tocItemIndent::before {
  left: calc(var(--space-1) * 0.8);
  background-color: transparent;
  border: 4px solid var(--blue-base);
}

.tocItem {
  position: relative;
  font-size: var(--body);
  color: var(--text-color);
  line-height: 1.7;
}

.tocItemIndent {
  padding-left: calc(var(--space-1) * 0.8);
}

.scroll {
  display: inline-block;
  padding: 0.4rem 0 0.6rem 1.6rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.active {
  font-weight: 600;
}

.tocItem.active .scroll {
  color: var(--blue-active);
  background-color: var(--toc-item-active-color);
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
  .tocItem:hover {
    color: var(--blue-active);
  }
}
