.authService {
  display: flex;
  align-items: center;
}

.button {
  font-size: 0.5rem;
  color: var(--white);
  padding: calc(var(--space-xxs) * 0.5);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.userInfo {
  position: relative;
}

.userInfo img {
  cursor: pointer;
  width: 3rem;
  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 10rem;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: calc(var(--space-xxs) * 0.75);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdownMenu p,
.dropdownMenu .button {
  margin: 0;
  margin-bottom: var(--space-xxs);
}

@media (min-width: 768px) {
  .button {
    font-size: var(--body);
  }

  .button:hover {
    color: var(--blue);
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .dropdownMenu {
    width: 15rem;
  }
}
