.logo {
  font-size: calc(var(--heading1) * 0.7);
  font-weight: bold;
  color: var(--blue-1);
}

.footerLogo {
  font-size: calc(var(--heading1) * 0.7);
  font-weight: bold;
  color: var(--white);
}
