.topContents {
  text-align: center;
  margin: var(--space-md) var(--space-xxs);
}

.topContents > h3 {
  margin-bottom: var(--space-xs);
}

.topContents h3 + * {
  margin-bottom: var(--space-sm);
}

.topContents > p {
  padding-bottom: var(--space-xs);
}

.topContents figure {
  margin-bottom: var(--space-sm);
}

.topContents img {
  display: inline-block;
  border-radius: 50%;
  width: 30%;
  height: 30%;
  object-fit: cover;
}

.btnBox {
  padding: var(--space-sm) 0 var(--space-md);
}

.btn {
  display: inline-block;
  background-color: var(--blue-1);
  padding: var(--space-xxs) var(--space-sm);
  color: var(--white);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .btn:hover {
    background-color: var(--blue);
    color: var(--white);
    transform: scale(1.05);
  }
}
