.stack {
  margin-top: var(--space-md);
}

.stack > * + * {
  margin-top: var(--space-xs);
}

.stack h2 + *,
.stack h3 + *,
.stack h4 + * {
  margin-top: 0.8rem;
}

.stack h2 {
  margin-top: var(--space-md);
  padding: var(--space-xxs);
  background: #eeeeee;
  border-left: solid 8px var(--blue);
}

.stack h3 {
  padding: 0.8rem;
  border-left: 5px solid var(--blue);
  border-bottom: 1px solid var(--gray-1);
}

.stack h4 {
  padding-top: var(--space-xxs);
}

.stack p {
  line-height: 1.7;
}

.stack strong {
  color: var(--blue-1);
}

.stack code {
  margin-bottom: var(--space-md);
}

.stack ul {
  padding: revert;
  list-style: revert;
}

.stack li {
  margin-bottom: 2rem;
}
