.stack {
  margin-top: var(--space-md);
}

.stack > * + * {
  margin-top: var(--space-xs);
}

.stack h2,
.stack h3 {
  margin-top: var(--space-md);
  padding: 0.8rem;
  border-left: 5px solid var(--blue);
  border-bottom: 1px solid var(--gray-1);
}

.stack h2 + *,
.stack h3 + * {
  margin-top: 0.8rem;
}

.stack p {
  line-height: 1.8;
}

.stack code {
  margin-bottom: var(--space-md);
}

.stack ul {
  padding: revert;
  list-style: revert;
}

.stack li {
  margin-bottom: 2rem;
}
