.stickyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color-2);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  padding: calc(var(--space-1) * 0.5);
  margin: 0 auto;
}

.tocWrapper {
  display: block;
}

.themeButton {
  width: 1.75rem;
  height: 1.75rem;
  font-size: calc(var(--body) * 0.8);
  color: var(--white);
  background-color: var(--gray);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  margin-left: var(--space-1);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stickyHeader {
    padding: calc(var(--space-1) * 0.5) var(--space-1);
  }

  .themeButton {
    width: 2rem;
    height: 2rem;
    font-size: var(--body);
  }
}

@media (min-width: 1025px) {
  .stickyHeader {
    padding: calc(var(--space-1) * 0.5) var(--space-2);
  }

  .tocWrapper {
    display: none;
  }

  .themeButton {
    width: 2.5rem;
    height: 2.5rem;
    font-size: calc(var(--body) * 1.1);
    &:hover {
      color: var(--yellow);
      transition: 0.2s;
      cursor: pointer;
    }
  }
}
