.stickyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  padding: calc(var(--space-1) * 0.5);
  margin: 0 auto;
}

.tocWrapper {
  display: block;
}

.icon {
  font-size: calc(var(--body) * 0.8);
  color: var(--yellow);
  background-color: var(--navy);
  border-radius: 50%;
  padding: calc(var(--space-1) * 0.3) calc(var(--space-1) * 0.4);
  margin-left: var(--space-1);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stickyHeader {
    padding: calc(var(--space-1) * 0.5) var(--space-1);
  }

  .icon {
    font-size: var(--body);
    padding: calc(var(--space-1) * 0.5) calc(var(--space-1) * 0.6);
  }
}

@media (min-width: 1025px) {
  .stickyHeader {
    padding: calc(var(--space-1) * 0.5) var(--space-2);
  }

  .tocWrapper {
    display: none;
  }

  .icon {
    font-size: var(--body);
    padding: calc(var(--space-1) * 0.5) calc(var(--space-1) * 0.6);
  }

  .icon:hover {
    color: var(--blue-1);
    transition: 0.2s;
    cursor: pointer;
  }
}
